.ml-row-styling{
    display: flex;  
}

.ml-col-styling{
    display: flex;
    gap: 100px;
    padding-top: 20px;  
}

.starCentOxy, .starLowOxy{
    color: yellow;
}

.starLowRih{
    color: yellow;
}

