.ml-list-container{
    display: flex;
}


.ml-row-styling{
    display: flex;  
    flex-direction: row;
    justify-content: left;
}

.ml-col-styling{
    display: flex;
    gap: 100px;
    padding-top: 20px;  
}

.starCentOxy, .starLowOxy{
    color: yellow;
}

.starLowRih{
    color: yellow;
}

