.navbar-custom{
    background-color: rgb(66, 66, 66);
    padding-left: 8%;
    padding-right: 8%;
    height: 70px;
}

.mh-logo{
    height: 40px;
}

.searchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    border: whitesmoke;
}

.searchInput{
    display: flex;
    align-items: center;
    border-radius: 80px;
    align-items: center;
    padding-left: 1%;
}

.searchInput > input{
    height: 30px;
    width: 240px;
    background: #8383834f;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-bottom: 2%;
    padding-left: 5%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.527);
  }

.searchInput > input:active{
    border: none;
}

#searchButton{
    display: flex;
    background: #dddddd81;
    color: #535353;
    height: 30px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.collapse{
    justify-content: space-between;
    padding-left: 20%;
}

.mh-collapsed-search{
    display: flex;
    background: #838383c0;
    color: #dddddd;
    justify-content: right;

}

.titularName{
    padding-top: 2%;
    color: #dddddd;
}

.mh-account-image{
    display: flex;
    height: 40px;
    width: 40px;
}

.mh-account-image > img{    
    border-radius: 50%;

}
